services:
  backend:
    build:
      context: .
      dockerfile: src/backend/Dockerfile
    environment:
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      SECRET_KEY: ${SECRET_KEY}
    ports:
      - "8000:8000"
    restart: on-failure
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: task-manager
    volumes:
      - "01-simple-alchemy-postgres:/var/lib/postgresql/data"
    restart: on-failure

volumes:
  01-simple-alchemy-postgres:
