fastapi==0.112.2
uvicorn==0.30.5

PyYAML==6.0.2
pydantic[email]==2.11.9
python-dotenv==1.0.1
SQLAlchemy==2.0.44
alembic==1.13.3
asyncpg==0.29.0
greenlet==3.1.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
